@(posts: Seq[Post], form: Form[(String,String)], isLogin: Boolean)

@main("all the posts", isLogin){
<div class="container">
    @if(isLogin){
        <div class="well span6">
            @helper.form(action = routes.Application.submit){
            <h3>Post</h3>
            <textarea class="span6" placeholder="your content" name="@form("content").name"></textarea>
            <br/>
            <input type="text" class="span3" placeholder="tags" name="@form("tags").name">
            <button class="btn btn-small" type="submit">Create</button>
            }
        </div>
    }
</div>
<div class="container">
    <table class="table table-striped table-bordered">
        @posts.map{ post =>
        <tr>
            <td>
                <div class="span6">@post.content</div>
                <div class="span3">
                    @post.tags.map{ tag =>
                        <a href="@routes.Application.postsWithTag(tag)">@tag</a>
                    }
                </div>
                <div class="span1">
                    <a href="@routes.Application.postsFromUser(post.user)">@post.user</a>
                </div>
            </td>
        </tr>
        }
    </table>
</div>
}